@import 'tailwindcss';
@import '@books/design-tokens/theme.css';

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}
